# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/interfaces/.*

# misc
.idea
.DS_Store
module.iml
user.sh
Test
package-lock.json

npm-debug.log*